  <nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0px;">
      <div class="container-fluid main-bg-color">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div>

        <div class="collapse navbar-collapse" id="nav-header">
          <ul class="pull-right">
            <li class="fixed-with">
              <a href="#">
                 <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                 <span class="label label-warning">3</span>
              </a>
            </li>

            <li class="fixed-with">
              <a href="#">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <span class="label label-success">10</span>
              </a>
            </li>

            <li>
              <a href="#" class="logout">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                Log out
              </a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  
  <div class="container display-table" style="padding-top:50px;">    
      <div class="row display-table-row">
        <div class="col-sm-2 col-md-2 col-lg-2 display-table-cell"  id="side-menu">
          <ul>
                  <a href="#/dashboard.htm">
                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                    <span class="hidden-sm hidden-xs">Dashboard</span>
                  </a>
                </li>

                <li class="link">
                  <a href="#collapse-tracking" data-toggle="collapse" aria-controls="collapse-tracking">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <span class="hidden-sm hidden-xs">Tracking</span>
                    <span class="label label-success pull-right hidden-xs hidden-sm">20</span>              
                  </a>
                  <ul class="collapse collapseable" id="collapse-tracking">
                    <li>
                      <a href="#/allvehicle">All Vehicle
                      <span class="label label-success pull-right hidden-xs hidden-sm">10</span>
                      </a>
                    </li>
                    <li>
                      <a href="#/movingvehicle">Moving Vehicle
                      <span class="label label-success pull-right hidden-xs hidden-sm">40</span>
                      </a>
                    </li>

                     <li>
                      <a href="#/idlevehicle">Idle Vehicle
                      <span class="label label-success pull-right hidden-xs hidden-sm">10</span>
                      </a>
                    </li>

                     <li>
                      <a href="#/stoppedvehicle">Stopped/Halted Vehicle
                      <span class="label label-success pull-right hidden-xs hidden-sm">10</span>
                      </a>
                    </li>
                  </ul>
                </li>


                <li class="link">
                  <a href="#/vchhistory">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <span class="hidden-sm hidden-xs">Vehicle History</span>
                  </a>
                </li>

                <li class="link">
                  <a href="#collapse-trackingreport" data-toggle="collapse" aria-controls="collapse-trackingreport">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <span class="hidden-sm hidden-xs">Tracking Report</span>
                  </a>
                  <ul class="collapse collapseable" id="collapse-trackingreport">
                      <li>
                        <a href="#/speedReport">Over speed Report
                        <span class="label label-success pull-right hidden-xs hidden-sm">10</span>
                        </a>
                      </li>

                      <li>
                        <a href="#/idlevchrpt">Idle Report
                        <span class="label label-success pull-right hidden-xs hidden-sm">40</span>
                        </a>
                      </li>

                       <li>
                        <a href="#/vchdistancerpt">Distance Report
                        <span class="label label-success pull-right hidden-xs hidden-sm">10</span>
                        </a>
                      </li> 

                      <li>
                        <a href="#/vchoverallrpt">Overall Report
                        <span class="label label-success pull-right hidden-xs hidden-sm">10</span>
                        </a>
                      </li>                               
                  </ul>
                </li>

              
              <li class="link">
                  <a href="#collapse-log" data-toggle="collapse" aria-controls="collapse-trackingreport">
                    <span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="hidden-sm hidden-xs">Log</span>
                  </a>
                  <ul class="collapse collapseable" id="collapse-log">
                      <li>
                        <a href="#/usrlog">User Log
                        <span class="label label-success pull-right hidden-xs hidden-sm">10</span>
                        </a>
                      </li>

                      <li>
                        <a href="#/sentlog">Sent Log
                        <span class="label label-success pull-right hidden-xs hidden-sm">40</span>
                        </a>
                      </li>                           
                  </ul>
                </li>

                <li class="link">
                  <a href="#collapse-settings" data-toggle="collapse" aria-controls="collapse-trackingreport">
                    <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
                    <span class="hidden-sm hidden-xs">Settings</span>
                  </a>
                  <ul class="collapse collapseable" id="collapse-settings">
                      <li>
                        <a href="#/orgProfile">Organisation Profile Settings
                        <span class="label label-success pull-right hidden-xs hidden-sm">10</span>
                        </a>
                      </li>

                      <li>
                        <a href="#/userProfile">User Profile Settings
                        <span class="label label-success pull-right hidden-xs hidden-sm">40</span>
                        </a>
                      </li>

                       <li>
                        <a href="#/alerts">Alert Settings
                        <span class="label label-success pull-right hidden-xs hidden-sm">10</span>
                        </a>
                      </li>                            
                  </ul>
                </li>
          </ul>
        </div>
        <div class="col-sm-10 col-lg-10 col-lg-10 display-table-cell" >
            <section style="margin: 5px">
              <div ng-view=""></div>
            </section>
        </div>
      </div>
  </div>